$light: #ffffff;
$dark: #000000;
$theme-primary-color: #26bdc9;
$theme-secondary-color: #ea8744;
$theme-bg-color: #07121e;
$card-primary-bg: rgba(43, 143, 201, 0.08);
$border-primary-color: #1d628a;
$card-bg-primary: rgba(43, 143, 201, 0.16) !important;
$card-bg-secondary: rgba(43, 143, 201, 0.08) !important;
$theme-secondary-Button-color:#7E7E7E;
$theme-Blue-Button-color:#1D628A;
$theme-modal-background:#09202a;
$transition: 0.25s ease;
$solo:#FC5506;
$duo:#CE1E1D;
$trio:#E5E553;
$quad:#51AA53;
$theme-gray:#B8B8B8;
$font-titillium: "Titillium Web", sans-serif;
$font-roboto: "Roboto", sans-serif;

$spacer: 1.5rem;
$stickyTop: 125px;
